.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.rounded {
  background-color: lightgray;
  border-radius: 10px;
}

.phaseoption:hover {
  background-color: blue;
  color: lightgray;
}

.phaseselected {
  background-color: lightblue;
}

.axis.x path,
.axis.x line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis.x .tick line {
  stroke: #888;
  stroke-dasharray: 5, 5;
}

#box rect {
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
}

#box line {
  stroke: black;
}

#box line.yaxis {
  stroke: #ccc;
}

#box .x line, .y line {
  stroke: #ccc;
  shape-rendering: crispEdges;
}
